@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout_Stu.cshtml";

}



@model DDLViewModel


<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title> طلب جديد</title>
<meta content="" name="description">
<meta content="" name="keywords">


<br />
<br />
<br />



<main id="main">



    <section id="contact" class="contact section-bg">



        <div class="container">

            <div class="section-title">
                <h2> New Case </h2>
            </div>

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">


                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">


                    @using (Html.BeginForm("NewCase", "Student", FormMethod.Post, new { @class = "FormStyle" }))
                    {
                        @Html.AntiForgeryToken()


                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <div class="active nav-link">
                                    <div class="subTitle">
                                        <h5> Patient Information</h5>
                                    </div>
                                </div>
                            </li>
                        </ul>


                        <div class="row">
                            @Html.ValidationSummary(true, "" , new{ @class= "text-danger"})
                            <div class="form-group col-md-6">
                                <label>Patient file</label>
                                @Html.TextBoxFor(m => m.ClinicalCase_V_Model.Patientcode, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m =>  m.ClinicalCase_V_Model.Patientcode, "" , new{ @class="text-danger"})


                            </div>

                            <div class="form-group col-md-6">
                                <label> Gender </label>
                                @Html.DropDownListFor(m => m.ClinicalCase_V_Model.Gender, new List<SelectListItem>{
                        new SelectListItem{Text="Male", Value="M"}, new SelectListItem{Text="Female", Value="F"}
                        }, "Select Gender", new { @class = "form-control" })


                            </div>


                        </div>

                        <div class="row">



                            <div class="form-group col-md-6">
                                <label> Citizenship </label>

                                @Html.DropDownListFor(m => m.ClinicalCase_V_Model.Citizenship, new List<SelectListItem>{
                        new SelectListItem{Text="Saudi", Value="S"}, new SelectListItem{Text="Non Saudi", Value="NS"}
                        }, "Select Citizenship", new { @class = "form-control" })


                            </div>


                            <div class="form-group col-md-6">
                                <label> Health Category </label>


                                @Html.DropDownListFor(m => m.ClinicalCase_V_Model.Health_category, new List<SelectListItem>{
                        new SelectListItem{Text="Healthy", Value="H"}, new SelectListItem{Text="Compromised", Value="C"}, new SelectListItem{Text="Special care", Value="SC"}
                        }, "Select Health Category", new { @class = "form-control" })

                            </div>

                        </div>




                        <div class="form-group">
                            <label> Rotation </label>

                            @Html.DropDownList("SelectedCaseRotation", Model.RotationList, "Select" , new { @class = "form-control" })

                            @*<select class="form-control" id="rota" name="Rotation" required>
                                <option>Select</option>
                                <option> op 2 </option>
                                @foreach (var item in Model.RotationList)
                                {
                                    <option value="@item.Value">
                                        @item.Text
                                    </option>
                                }
                            </select>*@



                        </div>






                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <div class="active nav-link">
                                    <div class="subTitle">
                                        <h5>Case Information</h5>
                                    </div>

                                </div>
                            </li>
                        </ul>


                        <div class="row">

                            <div class="form-group col-md-6">
                                <label> Age group </label>

                                @Html.DropDownListFor(m => m.ClinicalCase_V_Model.Age_group, new List<SelectListItem>{
                        new SelectListItem{Text="Pediatric", Value="P"}, new SelectListItem{Text="Adult", Value="A"}, new SelectListItem{Text="Geriatric", Value="G"}
                        }, "Select Age group", new { @class = "form-control" })

                            </div>


                            <div class="form-group col-md-6">
                                <label> Department </label>


                                @Html.DropDownListFor(m => m.ClinicalCase_V_Model.Depratment_id, new List<SelectListItem>{
                        new SelectListItem{Text="dep 1", Value="Pep1"}, new SelectListItem{Text="dep 2", Value="dep 2"}, new SelectListItem{Text="dep 3", Value="dep3"}
                        }, "Select Department", new { @class = "form-control" })


                            </div>


                        </div>



                        <div class="row">
                            <div class="form-group col-md-6">
                                <label> Case</label>



                                @Html.DropDownListFor(m => m.ClinicalCase_V_Model.Case_id, new List<SelectListItem>{
                        new SelectListItem{Text="case 1", Value="case1"}, new SelectListItem{Text="case 2", Value="case2"}, new SelectListItem{Text="case 3", Value="case3"}
                        }, "Select case", new { @class = "form-control" })



                            </div>

                            <div class="form-group col-md-6">

                                <div class="form-group">
                                    <label> Tooth No</label>


                                    @Html.DropDownList("SelectedTooth", Model.TeethList, "Select" , new { @class = "form-control" })


@*
                                    <select asp-for="ClinicalCase_V_Model.Tooth_no" class="form-control" id="tooth" name="Tooth" required>
                                        <option>Select Tooth No</option>


                                        <option>op2</option>
                                        @foreach (var item in Model.TeethList)
                                        {

                                            <option value="@item.Value">
                                                @item.Text
                                            </option>
                                        }

                                    </select>*@


                                </div>

                            </div>
                        </div>




                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <div class="active nav-link">
                                    <div class="subTitle">
                                        <h5>Assigned to</h5>
                                    </div>

                                </div>
                            </li>
                        </ul>

                        <div class="form-group">
                            <label> Supervisor</label>



                            @Html.DropDownList("SelectedSupervisor", Model.Supervisor_internList, "Select" , new { @class = "form-control" })


                      

                        </div>


                        <div id="Hidden_resubmition_case">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <div class="active nav-link">
                                        <div class="subTitle">
                                            <h5 style="color:hotpink !important">Duplicate Case !</h5>
                                        </div>

                                    </div>
                                </li>
                            </ul>


                            <div class="form-group">
                                <label> You have submitted this case before, please write the reason of the re-submition</label>
                                <!-- Html.DropDownListFor(m => m.StudentGender,  new SelectList(Enum.GetValues(typeof(Gender))), "Select Gender") -->
                                @Html.TextAreaFor(m => m.ClinicalCase_V_Model.Resubmission_reason, new { @class = "form-control" })


                            </div>
                        </div>



                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your case has been sent. Thank you!</div>
                        </div>
                        <div class="text-center">




                            <button type="submit">
                                Submit case
                            </button>


                        </div>


                    }
                </div>

            </div>

        </div>





    </section><!-- End Contact Section -->


</main><!-- End #main -->
<!-- ======= Footer ======= -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>